<h1>Lista de Compras</h1>
<h3>Menu</h3>

<p>
	Escolha uma das ações a seguir:
   <ul>
      <li>
	<%= link_to "Novo Produto", new_produto_path %>
      </li>
      <li>
	<%= link_to "Listar Produtos", produtos_path %>
      </li>
      <li>
	<%= link_to "Listar importantes", importantes_path %>
      </li>
      <li>
	<%= link_to "Voltar para Home", home_index_path %>
       </li>	
   </ul>
	
</p>
