<h1>Respostas App</h1>
<h3>por Valdecir Victor Junior</h3>

<p>
	Escolha um dos Problemas:
   <ul>
      <li>
	<%= link_to "Problema 1", diagrama_index_path %>
      </li>
       <li>
	<%= link_to "Problema 2", menu_index_path %>
       </li>
	<li>	
	<a href="mailto:valdecirvjunior@gmail.com">Feedback por email</a>
	</li>
	</ul>

	
</p>
