<h1>Respostas App</h1>
<h3>por Valdecir Victor Junior</h3>

<p>
	Escolha uma das ações a seguir:
   <ul>
      <li>
	<%= link_to "Problema 1", importantes_path %>
      </li>
       <li>
	<%= link_to "Problema 2", menu_index_path %>
       </li>	

	</ul>
	
</p>
